<p>two-way works!</p>

<input [(ngModel)]="name" placeholder="Enter name">
<p>Hello, {{ name }}</p>

<input type="checkbox" [(ngModel)]="isChecked">
<p>Checkbox value is: {{ isChecked }}</p>

<input type="radio" [(ngModel)]="selectedOption" [value]="'Option 1'">Option 1
<input type="radio" [(ngModel)]="selectedOption" [value]="'Option 2'">Option 2

<p>Selected Radio Value: {{ selectedOption }}</p>

<select [(ngModel)]="dropDownOption">
    <option [ngValue]="'Option 1'">Option 1</option>
    <option [ngValue]="'Option 2'">Option 2</option>
</select>
<p>Dropdown value: {{ dropDownOption }}</p>

<textarea [(ngModel)]="textareaValue" placeholder="Enter details here"></textarea>
<p>textarea value: {{ textareaValue }}</p>